<template>
  <div class="main">
    <header>
      <el-button>按钮</el-button>
      <span class='fanhui'></span>
      <span class='title'>头部</span>
    </header>
    <div id='main'>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import { getData } from '../plugins/axios.js'
// import { login } from '../nuxt.api.js'
export default {
  props: [],
  name: '',
  data () {
    return {

    }
  },
  components: {

  },
  computed: {

  },
  mounted () {
    this.login()
  },
  methods: {
    async login () {
      let data = await getData('http://10.16.98/login')
      console.log(data)
    }
  }
}
</script>
<style lang="less">
.main {
  .title {
    color: red;
    font-size: 4.3rem;
  }
}
</style>