<template>
  <div>
    <header>
      <span class='fanhui'></span>
      <span class='title'>详情</span>
    </header>
    <div id='main'>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
export default {
  props: [],
  name: '',
  data () {
    return {

    }
  },
  components: {

  },
  computed: {

  },
  mounted () {

  },
  methods: {

  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->

